.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
    max-width:250px;
    /* min-width: fit-content; */
    background-color: #f0f4ff;
    padding:25px 15px;
}
.uppercomponent{
    display:flex;
    flex-direction: column;
}
.lowercomponent{
    display:flex;
    flex-direction: column;
    gap:30px;
}
.menu{
    margin:6px;
    width:fit-content;
    cursor: pointer;
}
.sidebar img{
    width:20px;
}
.newchat{
    border:none;
    margin:30px 0px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    padding:10px 5px;
    text-align: center;
    border-radius: 50px;
    cursor:pointer;
}
.recent{
    margin:20px 0px;
}
.help,.activity,.settings{
    padding:10px 25px;
    border-radius:50px;
    display:flex;
    height:fit-content;
    width:fit-content;
    gap:10px;
    cursor:pointer;
}
.recent-chat{
    display: flex;
    flex-direction: column;
    gap:10px;
   max-height:400px;
   max-width: 200px;
   overflow-y: scroll;

}
.get-chat{
    display:flex;
    min-height: 30px;
    max-width: 200px;
    overflow-x: hidden;
    background-color: #e2e6eb;

}
.recent-chat:hover,.help:hover,.activity:hover,.settings:hover{
    background-color: #e2e6eb;
}